In [1]:
'''
Container squences:
  list, tuple, collections.deque 可以保存不同类型的item
Flat squences:
  str, bytes, bytearray, memoryview, array.array 保存一种类型
Mutable squences:
  list, bytearray, array.array, collections.deque, memoryview 可变
Immutable squences: 
  tuple, str, bytes 不可变
'''
symbols = '@#$%^&'  #string

In [2]:
codes = []  #list

In [3]:
for symbol in symbols:
    codes.append(ord(symbol))

In [4]:
codes

[64, 35, 36, 37, 94, 38]

In [5]:
#List comprehensions and readability
codes = [ord(symbol) for symbol in symbols]

In [6]:
codes

[64, 35, 36, 37, 94, 38]

In [7]:
x = 'ABC'

In [8]:
dummy = [ord(x) for x in x]  #验证x的local scope

In [9]:
x

'ABC'

In [10]:
dummy

[65, 66, 67]

In [15]:
beyond_ascii = [ord(s) for s in symbols if ord(s) > 63]  #List comprehensions method

In [16]:
beyond_ascii

[64, 94]

In [19]:
beyond_ascii = list(filter(lambda c:c > 63, map(ord, symbols)))  #map/filter composition method

In [20]:
beyond_ascii

[64, 94]

In [26]:
colors = ['black', 'white']

In [27]:
sizes = ['S', 'M', 'L', 'XL']

In [30]:
# Generates a list of tuples arranged by color, then size
tshirts = [(color, size) for color in colors for size in sizes]

In [31]:
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('black', 'XL'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L'),
 ('white', 'XL')]

In [32]:
type(tshirts)

list

In [34]:
for color in colors:
    for size in sizes:
        print ((color, size))

('black', 'S')
('black', 'M')
('black', 'L')
('black', 'XL')
('white', 'S')
('white', 'M')
('white', 'L')
('white', 'XL')

Generator Expressions, Genexps

In [35]:
tuple(ord(symbol) for symbol in symbols)

(64, 35, 36, 37, 94, 38)

In [37]:
import array
array.array('I', (ord(symbol) for symbol in symbols))  #array.array: 'I' unsigned int

array('I', [64, 35, 36, 37, 94, 38])

In [39]:
for tshirt in ('%s %s' % (c, s) for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
black XL
white S
white M
white L
white XL

Tuple uesd as records

In [41]:
lax_coordinates = (33.9425, -118.408056)

In [42]:
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)  #tuple unpacking

In [43]:
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

In [44]:
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)  #tuple unpacking

BRA/CE342567
ESP/XDA205856
USA/31195855

In [45]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

tuple unpacking

In [47]:
a, b = 1, 2  #tuple unpacking, swapping the values of variables without using a temporary variable
a, b = b, a
print(a, b)

2 1

In [50]:
divmod(20, 8)

(2, 4)

In [53]:
t = (20, 8)
divmod(*t) #tuple unpack, prefixing an argument with a star when calling a function

(2, 4)

In [55]:
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

In [56]:
import os
_, filename = os.path.split('/Users/linheng/.ssh/id_rsa.pub')  #return a tuple (path, last_part), _ is used as dummy variable
filename

'id_rsa.pub'

In [58]:
a, b, *rest = range(5)  #using *args to grab excess items, which is a classic Python feature
a, b, rest

(0, 1, [2, 3, 4])

In [59]:
a, *body, b, c = range(5)  #It can place any postition
a, body, b, c

(0, [1, 2], 3, 4)

In [60]:
*body, a, b, c = range(5)
body, a, b, c

([0, 1], 2, 3, 4)

Nested tuple unpacking

In [68]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('San Paula', 'BR', 19.649, (-23.547778, -46.635833))
]
print('{:15} | {:^9} | {:9}'.format('city', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

city            |   lat.    | long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
San Paula       |  -23.5478 |  -46.6358

Named tuples